@mixin rfs($pc, $mob) {
  $addSize: $pc - $mob;
  $addSizeMob: $addSize + $addSize * .7;

  @media (max-width: 767px) {
    font-size: calc(#{$mob + px} + #{$addSizeMob} * ((100vw - 375px) / #{$maxWidth}));
  }

  @media (min-width: 767px) {
    font-size: calc(#{$mob + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}
