$maxWidth: 1170;
$minWidth: 320;
$lg: 1199.98;
$md: 991.98;
$sm: 767.98;
$s: 575.98;

// ==================== FONTS =======================

$default: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

// =================== COLORS =======================

$main: #313131;
$black: black;
$white: white;
