$maxWidth: 1920;
$minWidth: 320;
$lg: 1199.98;
$md: 992.98;
$sm: 768.98;
$s: 575.98;

// ==================== FONTS =======================

$default: 'Montserrat', sans-serif;

// =================== COLORS =======================

$main: #747e93;
$black: black;
$grey: #4c4c4c;
$grey-question: #747e93;
$white: white;
