// =====================  Utils  ==========================

@import utils/mixin_font-face
@import utils/fontstylesheet

@import utils/reset
@import utils/nulling

@import utils/variables
@import utils/mixin_rfs

/*! Bootstrap Grid */
// @import ../../node_modules/bootstrap/scss/bootstrap-grid
/*! Bootstrap Grid End*/

// ========================================================
//      Uncomment if png or svg folder not empty
// ========================================================

// @import utils/mixin-spritePng

// @import tmp/spritePng
// @import tmp/spriteSvg

// ====================  Default  =========================

/*! Defaults */
body
  color: $main-color
  font-family: $default-font

  +rfs(24, 16)

// sticky footer (always at the bottom of page)

.wrapper
  position: relative
  display: flex
  flex-direction: column
  height: 100%

.content
  flex: 1 0 auto

.footer
  flex: 0 0 auto

.container
  display: flex
  flex-direction: column
  justify-content: center
  margin: 0 auto
  padding: 0 15px
  max-width: 1170px
  width: 100%

/*! Defaults End */

// =====================  modules  ========================

@import header/header
@import content/content
@import footer/footer

// =====================  Media  ==========================

@media screen and (max-width: 1199px)
  .header, .footer
    background: #ff0022
@media screen and (max-width: 991px)
  .header, .footer
    background: #fbff00
@media screen and (max-width: 767px)
  .header, .footer
    background: #2bff00
@media screen and (max-width: 575px)
  .header, .footer
    background: #00ccff
@media screen and (max-width: 319px)
  .header, .footer
    background: #ff0080

