// =====================  Utils  ==========================

@import 'utils/mixin_font-face';
@import 'utils/fontstylesheet';

@import 'utils/reset';
@import 'utils/nulling';

@import 'utils/variables';
@import 'utils/mixin_rfs';

// ====================  Default  =========================

/*! Defaults */

html, body {
  position: relative;
  margin: 0;
  padding: 0;
  min-width: $minWidth + px;
  width: 100%;
  height: 100%;
}

body {
  background-color: $white;
  color: $main;
  letter-spacing: -.022em;
  font-weight: 400;
  font-style: normal;
  font-family: $default;
  line-height: 1.47059;

  @include rfs(17, 12);
}

// sticky footer (always at the bottom of page)

.wrapper {
  display: flex;
  overflow: hidden;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}

.header {
  flex: 0 0 auto;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  padding: 0 15px;
  max-width: $maxWidth + px;
  width: 100%;
  @media screen and (max-width: $lg + px) {
    max-width: calc(1199.98px - 30px);
  }
  @media screen and (max-width: $md + px) {
    max-width: calc(991.98 px - 30px);
  }
  @media screen and (max-width: $sm + px) {
    max-width: calc(767.98px - 30px);
  }
  @media screen and (max-width: $s + px) {
    max-width: calc(575.98px - 30px);
  }
}

.img-wrap {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  height: auto;

  & img {
    max-width: 100%;
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  & picture {
    max-width: 100%;
    width: 100%;
    height: 100%;

    object-fit: cover;
  }
}

/*! Defaults End */

// =====================  modules  ========================

@import 'header';
@import 'footer';

// =====================  Styles  =========================

// =====================  Media  ==========================

@media screen and (max-width: 1199px) {
  .header, .footer {
    background: #ff0022;
  }
}

@media screen and (max-width: 991px) {
  .header, .footer {
    background: #fbff00;
  }
}

@media screen and (max-width: 767px) {
  .header, .footer {
    background: #2bff00;
  }
}

@media screen and (max-width: 575px) {
  .header, .footer {
    background: #00ccff;
  }
}

@media screen and (max-width: 319px) {
  .header, .footer {
    background: #ff0080;
  }
}
